<thymeleaf xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
    th:fragment="navigation" th:remove="tag">
    
    
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <!-- Header -->
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/dog/form}">DogAdopt</a>
            </div>

			<!-- Menu -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a th:href="@{/dog/form}" id="menuOption1"><i class="fa fa-cog fa-fw"></i> Encuentre tu perro ideal</a>
                        </li>
                        <li>
                            <a th:href="@{/dog}" id="menuOption2"><i class="fa fa-paw fa-fw"></i> Perros</a>
                        </li>
                    </ul>
                </div>
            </div>
    </nav>
    
</thymeleaf>