<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="fragments/head :: head" />
    <style>
    	.form-group {
		    margin-bottom: 0px;
		    padding-top: 0px !important;
		    padding-bottom: 0px !important;
		}
    </style>
</head>
<body>
	<div id="wrapper">
		<thymeleaf th:replace="fragments/navigation :: navigation" />
	
		<!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">                        
                        
                        
						<!--  CONTENT -->
						<h1 class="page-header">DogAdopt <small>Te ayudamos a encontrar tu perro ideal!</small></h1>

						<form id="dogForm1" role="form" action="#" th:action="@{/dog/recomendation}" th:object="${dogForm}" method="post" >
							
							<!--### CARACTERISTICAS FISICAS ###-->
							<div class="panel panel-default">
		                        <div class="panel-heading">
		                        	<h3>Características físicas</h3>
		                       	</div>
		                        <!-- /.panel-heading -->
		                        
		                        <div class="panel-body">
		                           <!-- SIZE -->
		                           <label>Me gustan los perros de tamaño: <span>*</span></label>
		                           <div class="panel panel-default">
			                           <div class="form-group panel-body">
	                                       <div class="radio" >
		                                       <label class="radio-inline">Mini</label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{size}" th:value="1" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{size}" th:value="2" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{size}" th:value="3" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{size}" th:value="4" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{size}" th:value="5" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">Maxi</label>
	                                       </div>
	                                   </div> 	
                                   </div>
			         			   <!-- END SIZE -->
			            		  
			            		   <!-- HAIR -->
			            		    <label>Me gustan perros con pelo: <span>*</span></label>
			            		    <div class="panel panel-default">
				            		   <div class="form-group panel-body">
	                                       <div class="radio">
	                                           <label>
	                                               <input type="radio" th:field="*{hair}" th:value="1" th:required="required"/>Corto
	                                           </label>
	                                       </div>
	                                       <div class="radio">
	                                           <label>
	                                               <input type="radio" th:field="*{hair}" th:value="3" th:required="required"/>Largo
	                                           </label>
	                                       </div>
	                                       <div class="radio">  
	                                           <label>
	                                               <input type="radio" th:field="*{hair}" th:value="2" th:required="required"/>Indiferente
	                                           </label>                                             
	                                       </div>
	                                   </div>
                                   </div>
			      				   <!--END HAIR -->
			      				   
					       		   <!--COLOR -->
					       		   <label>Me gustan perros de color: <span>*</span></label>
					       		   <div class="panel panel-default">
						       		   <div class="form-group panel-body">
	                                       <div class="radio">
	                                           <label>
	                                               <input type="radio" th:field="*{color}" th:value="1" th:required="required"/>Claro
	                                           </label>
	                                       </div>
	                                       <div class="radio">
	                                           <label>
	                                               <input type="radio" th:field="*{color}" th:value="3" th:required="required"/>Oscuro
	                                           </label> 
	                                       </div>
	                                       <div class="radio"> 
	                                           <label>
	                                               <input type="radio" th:field="*{color}" th:value="2" th:required="required"/>Indiferente
	                                           </label>                                             
	                                       </div>
	                                   </div>
                                   </div>
				              	   <!--END COLOR -->
		                        </div>
		                        <!-- /.panel-body -->
		                    </div>
		                    
		                    
		                    <!--### CARACTERISTICAS DE CARACTER ###-->
							<div class="panel panel-default">
		                        <div class="panel-heading">
		                        	<h3>Características de carácter</h3>
		                       	</div>
		                        <!-- /.panel-heading -->
		                        
		                        <div class="panel-body">
		                           <!--ACTIVE -->
		                           <label>En los fines de semana, me gusta: <span >*</span></label>
		                           <div class="panel panel-default">
						       		   <div class="form-group panel-body">
	                                       <div class="radio">
	                                           <label>
	                                               <input type="radio" th:field="*{active}" th:value="1" th:required="required" />Mirar la tele y estar en casa
	                                           </label>
	                                       </div>
	                                       <div class="radio">
	                                           <label>
	                                               <input type="radio" th:field="*{active}" th:value="4" th:required="required"/>Estar en la naturaleza
	                                           </label> 
	                                       </div>
	                                       <div class="radio"> 
	                                           <label>
	                                               <input type="radio" th:field="*{active}" th:value="3" th:required="required"/>Pasear por la ciudad
	                                           </label>                                             
	                                       </div>
	                                       <div class="radio"> 
	                                           <label>
	                                               <input type="radio" th:field="*{active}" th:value="2" th:required="required"/>Salir de fiesta
	                                           </label>                                             
	                                       </div>
	                                   </div>
                                   </div>
				              	   <!--END ACTIVE -->
				              	   
				              	   <!--INDEPENDENT -->
				              	   <label>Durante los dias laborales, estoy fuera de casa: <span >*</span></label>
				              	   <div class="panel panel-default">
						       		   <div class="form-group panel-body">
	                                       <div class="radio">
	                                           <label>
	                                               <input type="radio" th:field="*{independent}" th:value="1" th:required="required"/>Trabajo en casa
	                                           </label>
	                                       </div>
	                                       <div class="radio">
	                                           <label>
	                                               <input type="radio" th:field="*{independent}" th:value="2" th:required="required"/>Hasta 6 horas
	                                           </label> 
	                                       </div>
	                                       <div class="radio"> 
	                                           <label>
	                                               <input type="radio" th:field="*{independent}" th:value="3" th:required="required"/>Hasta 8 horas
	                                           </label>                                             
	                                       </div>
	                                       <div class="radio"> 
	                                           <label>
	                                               <input type="radio" th:field="*{independent}" th:value="4" th:required="required"/>Hasta 12 horas
	                                           </label>                                             
	                                       </div>
	                                       <div class="panel">
		                                       <label>Tengo otros familiares que estarán en casa mientras estoy trabajando?: <span >*</span></label>
		                                       <select class="form-control" th:field="*{independent2}">
												   <option th:value="true" >Si</option>
												   <option th:value="false">No</option>
		                                       </select>
	                                       </div>
	                                   </div>
                                   </div>
				              	   <!--END INDEPENDENT -->
				              	   
				              	   <!--SOCIABLE -->
				              	   <label>Tenia pensado en ir al parque con mi perro: <span>*</span></label>
				              	   <div class="panel panel-default">
						       		   <div class="form-group panel-body">
	                                       <div class="radio">
	                                           <label>
	                                               <input type="radio" th:field="*{sociable}" th:value="1" th:required="required"/>Hasta 3 horas aproximadamente por semana
	                                           </label>
	                                       </div>
	                                       <div class="radio">
	                                           <label>
	                                               <input type="radio" th:field="*{sociable}" th:value="2"  th:required="required" />Hasta 5 horas aproximadamente por semana
	                                           </label> 
	                                       </div>
	                                       <div class="radio"> 
	                                           <label>
	                                               <input type="radio" th:field="*{sociable}" th:value="3" th:required="required"/>Hasta 7 horas aproximadamente por semana
	                                           </label>                                             
	                                       </div>
	                                       <div class="radio"> 
	                                           <label>
	                                               <input type="radio" th:field="*{sociable}" th:value="4" th:required="required"/>Mas de 7 horas por semana si fuera necesario
	                                           </label>                                             
	                                       </div>
	                                   </div>
                                   </div>
				              	   <!--END SOCIABLE -->
				              	   
				              	   <!--EXPENSIVE -->
				              	   <label>Tengo pensado gastar (en comida, peluquería y veterinarios):  <span>*</span></label>
				              	   <div class="panel panel-default">
						       		   <div class="form-group panel-body">
	                                       <div class="radio">
	                                           <label>
	                                               <input type="radio" th:field="*{expensive}" th:value="1" th:required="required"/>Hasta 20€ por mes aproximadamente
	                                           </label>
	                                       </div>
	                                       <div class="radio">
	                                           <label>
	                                               <input type="radio" th:field="*{expensive}" th:value="2" th:required="required" />Hasta 60€ por mes
	                                           </label> 
	                                       </div>
	                                       <div class="radio"> 
	                                           <label>
	                                               <input type="radio" th:field="*{expensive}" th:value="3" th:required="required" />Hasta 80€ por mes
	                                           </label>
	                                       </div>
	                                       <div class="radio"> 
	                                           <label>
	                                               <input type="radio" th:field="*{expensive}" th:value="4" th:required="required"/>Hasta 100€ por mes
	                                           </label>                                              
	                                       </div>
	                                          <div class="radio"> 
	                                           <label>
	                                               <input type="radio" th:field="*{expensive}" th:value="5" th:required="required"/>No me preocupan los temas financieros
	                                           </label>                                              
	                                       </div>
	                                   </div>
                                   </div>
				              	   <!--END EXPENSIVE -->
				              	   
				              	   <!-- NOISE -->
				              	   <label>Vivo en un piso/casa donde podría haber:  <span>*</span></label>
				              	   <div class="panel panel-default">
			                           <div class="form-group panel-body">
	                                       <div class="radio">
		                                       <label class="radio-inline">Ningún ruido</label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{noiseTolerance}" th:value="1" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                            <input type="radio" th:field="*{noiseTolerance}" th:value="2" th:required="required" />
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{noiseTolerance}" th:value="3" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{noiseTolerance}" th:value="4" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">Mucho ruido</label>
	                                       </div>
	                                   </div> 
                                   </div>	
			         			   <!-- END NOISE -->
			         			   			         			   
			         			   <!-- SPECIAL NEEDS1 -->
			         			   <label>Tengo tolerancia que mi perro me rompa algo en casa:  <span>*</span></label>
			         			   <div class="panel panel-default">
			                           <div class="form-group panel-body">
	                                       <div class="radio">
		                                       <label class="radio-inline">Ninguna</label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{specialNeeds}" th:value="1" th:required="required" />
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{specialNeeds}" th:value="2" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{specialNeeds}" th:value="3" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{specialNeeds}" th:value="4" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">Mucha</label>
	                                       </div>
	                                   </div> 	
                                   </div>
			         			   <!-- END SPECIAL NEEDS1 -->
			         			   
			         			   <!-- PLAYFUL -->
			         			   <label>Me gusta jugar con los perros: <span>*</span></label>
			         			   <div class="panel panel-default">
			                           <div class="form-group panel-body">
	                                       <div class="radio">
		                                       <label class="radio-inline">Nada</label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{playful}" th:value="1" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{playful}" th:value="2" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{playful}" th:value="3" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{playful}" th:value="4" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">Mucho</label>
	                                       </div>
	                                   </div> 	
                                   </div>
			         			   <!-- END PLAYFUL -->
			         			   
			         			   <!-- SPECIAL NEEDS2 -->
			         			   <label>Tengo mucha paciencia y tiempo para educar y cuidar de las necesidades especiales de mi perro: <span>*</span></label>
			         			   <div class="panel panel-default">
			                           <div class="form-group panel-body">
	                                       <div class="radio">
		                                       <label class="radio-inline">Nada</label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{specialNeeds2}" th:value="1" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{specialNeeds2}" th:value="2" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{specialNeeds2}" th:value="3" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{specialNeeds2}" th:value="4" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">Mucho</label>
	                                       </div>
	                                   </div> 	
                                   </div>
			         			   <!-- END SPECIAL NEEDS2 -->
			         			   
			         			   <!-- AFFECTIONATE -->
			         			   <label>Normalmente soy muy afectuoso con perros: <span>*</span></label>
			         			   <div class="panel panel-default">
			                           <div class="form-group panel-body">
	                                       <div class="radio">
		                                       <label class="radio-inline">Nada</label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{affectionate}"  th:value="1" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{affectionate}" th:value="2" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{affectionate}" th:value="3" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{affectionate}" th:value="4" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">Mucho</label>
	                                       </div>
	                                   </div> 
                                   </div>	
			         			   <!-- END AFFECTIONATE -->
			         			   	         			   
			         			   <!-- SOCIABLE2 -->
			         			   <label>Diariamente estariamos en contacto con: <span>*</span></label>
			         			   <div class="panel panel-default">
			                           <div class="form-group panel-body">   
	                                       <div class="radio" >
		                                       <label class="radio-inline">Ningún perro</label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{sociable2}"  th:value="1" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{sociable2}" th:value="2" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{sociable2}" th:value="3" th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">                                           
		                                           <input type="radio" th:field="*{sociable2}" th:value="4"  th:required="required"/>
		                                       </label>
		                                       <label class="radio-inline">Muchos perros</label>
	                                       </div>
	                                   </div> 
                                   </div>	
			         			   <!-- END SOCIABLE2 -->
		                           
		                        </div>
		                        <!-- /.panel-body -->
		                    </div>
		                    
		                    
		                    <!--### MAS DUDAS ###-->
							<div class="panel panel-default">
		                        <div class="panel-heading">
		                        	<h3>Solo unas dudas más</h3>
		                       	</div>
		                        <!-- /.panel-heading -->
		                        
		                        <div class="panel-body">
		                           <!--CHILDRENS -->
					       		   <div class="panel">
	                                      <label>Tengo niños(as)?: <span >*</span></label>
									   <select class="form-control" th:field="*{childrens}" th:required="required">
										   <option th:value="true" >Si</option>
										   <option th:value="false">No</option>
									   </select>
	                                  </div>
				              	   <!--END CHILDRENS -->
				              	   
				              	   <!--OTHER DOGS -->
					       		   <div class="panel">
	                                      <label>Tengo otros perros?: <span >*</span></label>
									   <select class="form-control" th:field="*{otherDogs}" th:required="required">
										   <option th:value="true" >Si</option>
										   <option th:value="false">No</option>
									   </select>
	                                  </div>
				              	   <!--END OTHER DOGS -->
				              	   
				              	   <!--ANY CATS -->
					       		   <div class="panel">
	                                      <label>Tengo gatos?: <span >*</span></label>
									   <select class="form-control" th:field="*{anyCats}" th:required="required">
									   		<option th:value="true" >Si</option>
											<option th:value="false">No</option>
									   </select>
	                                  </div>
				              	   <!--END ANY CATS -->
				              	   
				              	    <!--ALERGIES -->
					       		   <div class="panel">
	                                      <label>Tengo personas alergicas en la familia?: <span >*</span></label>
									   <select class="form-control" th:field="*{alergies}" th:required="required">
									   		<option th:value="true" >Si</option>
											<option th:value="false">No</option>
									   </select>
	                               </div>
				              	   <!--END ALERGIES -->
				              	    
		                        </div>
		                        <!-- /.panel-body -->
		                    </div>
		                    
		                    
		                    <!--### CONTACTO ###-->
							<div class="panel panel-default">
		                        <div class="panel-heading">
		                        	<h3>Contacto</h3>
		                       	</div>
		                        <!-- /.panel-heading -->
		                        
		                        <div class="panel-body">
		                        	<!--NAME -->
		                        	<div class="panel">
                                        <input class="form-control" type="text" th:field="*{nombre}" placeholder="Nombre y Apellidos" th:required="required" />
                                    </div>
                                    <!--END NAME -->
                                   
                                    <!--EMAIL -->
                                    <div class="panel input-group">
                                        <span class="input-group-addon">@</span>
                                        <input class="form-control" id="email" type="email" th:field="*{email}"  placeholder="Email"  th:required="required" data-error="The value is not a valid email address"   />
                                    </div>
									<!--END EMAIL -->
									
		                        </div>
		                        <!-- /.panel-body -->
		                    </div>   
		                    <div class="panel">
			                    <button type="submit" class="btn btn-primary">Enviar</button>
			                    <button type="reset" class="btn btn-default">Limpiar</button>	
		                    </div>		   		     	
			 		   </form>
                       <!-- END CONTENT -->
                        
                        
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
	</div>
	
	<thymeleaf th:replace="fragments/footer :: footer" />
</body>
</html>